<h3>Edit member:</h3>
<br>

<form action="/gym/members/<%=@member.id()%>" method="post" autocomplete="off">
  <label for="name">Full Name:</label>
  <input type="text" name="name" value="<%=@member.name%>">

  <label for="premium">Membership status:</label>
  <select name="premium">
    <option  <% if (@member.premium == true) %> selected <%end%> value=<%=true%>><%="Premium"%></option>
    <option  <% if (@member.premium == false) %> selected <%end%>value=<%=false%>><%="Standard"%></option>
  </select>
  <input type="submit" value="Update member">
</form>
<br>

<p><a class="return" href="/gym/members/<%=@member.id()%>">Return</a> to member.</p>
<p><a class="return" href="/gym/members">Return</a> to directory.</p>
