<h2><%=@member.name%></h2>

<p>Membership status:
  <% if (@member.premium() == true) %>
  Premium
  <% elsif (@member.premium() == false) %>
  Standard
  <% end %>
</p>
<p>Lessons: </p>
<ul>
  <% if (@member.lessons == []) %>
    <p>none</p>
  <% else @member.lessons.each() { |lesson| %>
    <p><%=lesson.course()%></p>
  <% } end %>
</ul>
<hr/>

<form action="/gym/members/<%=@member.id()%>/add" method="post">
  <input type="hidden" name="member_id" value="<%=@member.id%>">
  <select name="lesson_id" required>
    <option value="" disabled selected>Choose new lesson</option>
    <% @lessons.each() { |lesson| unless ((lesson.peak == true && @member.premium == false) || (@member.lesson_ids.include?(lesson.id)))%>
      <option value="<%=lesson.id%>"><%=lesson.course%></option>
    <% end } %>
  </select>
  <input type="submit" value="Add new lesson">
</form>

<form action="/gym/members/<%=@member.id%>/remove" method="post" <% if (@member.lessons == []) %> hidden <%end%>>
  <input type="hidden" name="member_id" value="<%=@member.id%>">
  <select name="lesson_id" required>
    <option value="" disabled selected>Choose lesson to remove</option>
    <% @lessons.each() { |lesson| if (@member.lesson_ids.include?(lesson.id))%>
      <option value="<%=lesson.id%>"><%=lesson.course%></option>
    <% end } %>
  </select>
  <input type="submit" value="Remove a lesson">
</form>

<form action="/gym/members/<%=@member.id()%>/edit" method="get">
  <input type="submit" value="Edit this member">
</form>
<form action="/gym/members/<%=@member.id()%>/delete" method="post">
  <input type="submit" value="Delete this member">
</form>

<p><a class="return" href="/gym/members">Return</a> to directory.</p>

<% if @show_added == 'show_added' %>
<h3><%=@member.name%> is now attending <%=@lesson%>.</h3>
<% end %>

<%  if @show_removed == 'show_removed' %>
<h3><%=@member.name%> is no longer attending <%=@lesson%>.</h3>
<% end %>
