<form action="/gym/lessons/<%=@lesson.id()%>" method="post">
  <label for="course">Course:</label>
  <input type="text" name="course" value="<%=@lesson.course%>">

  <label for="capacity">Capacity:</label>
    <input type="number" name="capacity" min="5" max="30" value="<%=@lesson.capacity%>">

  <label for="peak">Type:</label>
  <select name="peak">
    <% if (@lesson.peak == true) %>
      <option selected value=<%=true%>><%="Peak"%></option>
      <option value=<%=false%>><%="Off-Peak"%></option>
    <% else %>
      <option value=<%=true%>><%="Peak"%></option>
      <option selected value=<%=false%>><%="Off-peak"%></option>
    <% end %>
  </select>
  <input type="submit" value="Update lesson">
</form

<p><a class="return" href="/gym/lessons/<%=@lesson.id()%>">Return</a> to lesson.</p>
<p><a class="return" href="/gym/lessons">Return</a> to directory.</p>
