

<form action="/wellbeing/patients/<%=@patient.id()%>" method="post">
  <input type="hidden" name="member" value="<%=@patient.membership%>">
  <% if (@patient.premium == true) %> <input type="hidden" name="membertype" value="<%=@patient.premium%>"> <%end%> 
  <label for="patient_name">Full Name:</label>
  <input type="text" name="patient_name" value="<%=@patient.patient_name%>">

  <label for="membership">Member:</label>
  <select name="membership">
    <option <% if (@patient.premium == true) %> selected <%end%> value=<%="premium"%> >Premium</option>
    <option <% if (@patient.premium == false) %> selected <%end%> value=<%="standard"%> >Standard</option>
    <option <% if (@patient.membership == false) %> selected <%end%> value=<%="no"%> >No</option>
  </select>
  <input type="submit" value="Update patient">
</form>



<p><a href="/wellbeing/patients/<%=@patient.id()%>">Return</a> to patient.</p>
<p><a href="/wellbeing/patients">Return</a> to directory.</p>
