<h2><%=@patient.patient_name%></h2>

<p>Membership:
  <% if @patient.membership %>
    <% if (@patient.premium() == true) %>
      Premium
    <% elsif (@patient.premium() == false) %>
      Standard
    <% end %>
    (ID: <%= @patient.member_id %>)
  <% else %>
  None
  <% end %>
</p>
<hr>
<p>Current conditions: </p>
<ul>
  <% if (@patient.current_conditions == []) %>
    <p>none</p>
  <% else %>
  <p>Unassigned conditions:</p>
    <ul>
      <% @patient.current_conditions_unassigned.each() { |condition|%>
        <p><%=condition.type%> - diagnosed <%=condition.diagnosed%></p>
        <form action="/wellbeing/conditions/<%=condition.id()%>" method="get">
          <input type="submit" value="View this condition">
        </form>
        <form action="/wellbeing/conditions/<%=condition.id%>/edit" method="get">
          <input type="submit" value="Edit this condition">
        </form>
        <form action="/wellbeing/patients/<%=@patient.id%>/remove/<%=condition.id%>" method="post">
          <input type="submit" value="Delete this condition">
        </form>
      <% } %>
    </ul>
  <% @patient.physios_current.each() { |physio| %>
    <p><%=physio.physio_name%>:</p>
    <ul>
      <%@patient.current_conditions_by_physio(physio).each() { |condition|%>
        <p><%=condition.type%> - diagnosed <%=condition.diagnosed%></p>
        <form action="/wellbeing/conditions/<%=condition.id%>" method="get">
          <input type="submit" value="View this condition">
        </form>
        <form action="/wellbeing/conditions/<%=condition.id%>/edit" method="get">
          <input type="submit" value="Edit this condition">
        </form>
        <form action="/wellbeing/patients/<%=@patient.id%>/resolve/<%=condition.id%>" method="post">
          <input type="submit" value="Mark this as resolved">
        </form>
      <% } %>
    </ul>
  <% } end %>
</ul>
<hr/>



<form action="/wellbeing/conditions/new" method="get">
  <input type="submit" value="Add new condition">
</form>

<form action="/wellbeing/patients/<%=@patient.id()%>/edit" method="get">
  <input type="submit" value="Edit this patient">
</form>
<form action="/wellbeing/patients/<%=@patient.id()%>/delete" method="post">
  <input type="submit" value="Delete this patient">
</form>

<p><a href="/wellbeing/patients">Return</a> to directory.</p>
<hr>


<% unless (@patient.resolved_conditions == []) %>
<p>Resolved conditions: </p>
<ul>
  <p>Unassigned conditions:</p>
  <ul>
    <% @patient.resolved_conditions_unassigned.each() { |condition|%>
      <p><%=condition.type%> - diagnosed <%=condition.diagnosed%></p>
      <form action="/wellbeing/conditions/<%=condition.id()%>" method="get">
        <input type="submit" value="View this condition">
      </form>
      <form action="/wellbeing/conditions/<%=condition.id%>/edit" method="get">
        <input type="submit" value="Edit this condition">
      </form>
      <form action="/wellbeing/patients/<%=@patient.id%>/remove/<%=condition.id%>" method="post">
        <input type="submit" value="Delete this condition">
      </form>
    <% } %>
  </ul>
  <% @patient.physios_resolved.each() { |physio| %>
    <p><%=physio.physio_name%>:</p>
    <ul>
      <%@patient.resolved_conditions_by_physio(physio).each() { |condition|%>
        <p><%=condition.type%> - diagnosed <%=condition.diagnosed%></p>
        <form action="/wellbeing/conditions/<%=condition.id()%>" method="get">
          <input type="submit" value="View this condition">
        </form>
        <form action="/wellbeing/conditions/<%=condition.id%>/edit" method="get">
          <input type="submit" value="Edit this condition">
        </form>
        <form action="/wellbeing/patients/<%=@patient.id%>/remove/<%=condition.id%>" method="post">
          <input type="submit" value="Delete this condition">
        </form>
      <% } %>
    </ul>
<% } %>
</ul>
<hr/>
<% end %>
