<p>Patient name: <%=@condition.patient.patient_name%></p>
<p>Physio name: <%=@condition.physio.physio_name%></p>
<p>Type: <%=@condition.type%></p>
<p>Date diagnosed: <%=@condition.diagnosed%></p>
<p>Resolved: <% if (@condition.resolved) %> Yes <% else %> No <% end %>
<%if @condition.resolved%> <p>Date resolved: <%=@condition.resolved_date%></p> <% end %>
<p>Notes: </p>
<p><%=@condition.notes%></p>

<hr>
<form action="/wellbeing/conditions/<%=@condition.id%>/add" method="post">
    <input class="note" type="text" name="notes" autocomplete="off"> <br>
    <input type="submit" value="Add new note">
</form>
<hr>
<form action="/wellbeing/conditions/<%=@condition.id%>/edit" method="get">
  <input type="submit" value="Edit condition">
</form>
<form action="/wellbeing/patients/<%=@condition.patient_id%>/resolve/<%=@condition.id%>" method="post">
  <input type="submit" value="Mark as resolved">
</form>

<p><a class="return" href="/wellbeing/patients/<%=@condition.patient_id%>">Return</a> to patient.</p>
<p><a class="return" href="/wellbeing/physios/<%=@condition.physio_id%>">Return</a> to physio.</p>
