<h2><%=@physio.physio_name%></h2>

<p>Current conditions: </p>
<ul>
  <% if (@physio.current_conditions == []) %>
    <p>none</p>
  <% else @physio.patients_current.each() { |patient| %>
    <p><%=patient.patient_name%>:</p>
    <ul>
      <%@physio.current_conditions_by_patient(patient).each() { |condition|%>
        <p><%=condition.type%> - diagnosed <%=condition.diagnosed%></p>
        <form action="/wellbeing/conditions/<%=condition.id%>" method="get">
          <input type="submit" value="View condition">
        </form>
        <form action="/wellbeing/conditions/<%=condition.id%>/edit" method="get">
          <input type="submit" value="Edit condition">
        </form>
        <form action="/wellbeing/patients/<%=patient.id%>/resolve/<%=condition.id%>" method="post">
          <input type="submit" value="Mark as resolved">
        </form>
      <% } %>
    </ul>
  <% } end %>
</ul>
<hr/>

<form action="/wellbeing/physios/<%=@physio.id()%>/edit" method="get">
  <input type="submit" value="Edit physio">
</form>
<form action="/wellbeing/physios/<%=@physio.id()%>/delete" method="post">
  <input type="submit" value="Delete physio">
</form>

<p><a class="return" href="/wellbeing/physios">Return</a> to directory.</p>
<hr>

<% unless (@physio.resolved_conditions == []) %>
<p>Resolved conditions: </p>
<ul>
  <% @physio.patients_resolved.each() { |patient| %>
    <p><%=patient.patient_name%>:</p>
    <ul>
      <%@physio.resolved_conditions_by_patient(patient).each() { |condition|%>
        <p><%=condition.type%> - diagnosed <%=condition.diagnosed%></p>
        <form action="/wellbeing/conditions/<%=condition.id()%>" method="get">
          <input type="submit" value="View condition">
        </form>
        <form action="/wellbeing/conditions/<%=condition.id%>/edit" method="get">
          <input type="submit" value="Edit condition">
        </form>
        <form action="/wellbeing/patients/<%=patient.id%>/remove/<%=condition.id%>" method="post">
          <input type="submit" value="Delete condition">
        </form>
      <% } %>
    </ul>
<% } %>
</ul>
<hr/>
<% end %>
